<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>    
   <h1>Registration</h1>
    <form action="/api/createUser" method="POST">
        <label for="user_email">Email:</label>
        <input type="email" id="user_email" name="user_email" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="college">Select College:</label>
        <select name="college_id" id="college_id">
            <% colleges.forEach(college => { %>
                <option value="<%= college.college_id %>"><%= college.college_name %></option>
            <% }) %>
        </select><br>
        <button type="submit">Submit</button>
        <br>
        <p>Already have an account?</p>
        <a href="./login">Login</a>
    </form>

    <% if (notify) { %>
    <script>
        Swal.fire("<%- notify %>");
    </script>
    <% } %>
</body>
</html>